.loginCard {
  border-radius: 5px;
  width: 50%;
  height: 450px;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition:all 1s;
  .loginBTN {
    width: 100px;
  }
}
.info {
  transition: all 1s;
  width: 50%;
  text-align: center;
}
.bar {
  justify-content: space-between;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  max-width: 70%;
  height: 250px;
  background: rgba(0, 0, 0, 0.7);
  transition: all 1s;
}
.bg {
  display: flex;
  align-items: center;
  background: url(https://source.unsplash.com/1600x900/?skyline&night
  );
  height: 100vh;
  background-size: cover;
}
.VerificationCode{
  border-radius: 5px;
  width: 106px;
  border-left: 5px solid black;
  background-color: rgba(0, 0, 0, 0.3);
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.7);
  color:white;
  text-align: center;
  padding: 5px;
}
.BrandBox{
  position: absolute;
  right: 0;
  left:  0;
  top: 20px;
  a{
    color: gold;
  }
  h1{
    margin: 0 auto;
    width: 150px;
    font-family: 'Noto Serif TC', serif;
    text-align: center;
    font-weight: 900;
    color: white;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.7);;
  }
}
@media (max-width: 968px) {
  .bar {
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 580px;
    padding: 0px;
  }
  .info {
    margin-top: 50px;
    width: 100%;
  }
  .loginCard {
    width: 350px;
    height: 300px;
  }
}
