h2{
  margin-top: 10px;
  font-size: 24px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  canvas{
    margin: 0 100px;
  }
}
.lineChart{
  margin-top: 30px;
}
.wrap>div{
  box-shadow: 0 2px 6px rgb(0 0 0 / 25%);
    border-radius: 15px;
    margin:5px;
    background-color: white;
    padding: 1rem;
}
