.MainView {
  overflow: hidden;
  max-height: 100vh;
  background-color: #2e5c6e;
}
.col {
  height: 100vh;
}
.UserBoard {
  height: 50vh;
  background: rgba(0, 0, 0, 0.9);
}
.Hamster {
  align-items: center;
  justify-content: space-around;
}
.ChatRoomToggle {
  height: 5vh;
  text-align: center;
  outline: none;
  border: none;
  transition: all 1.5s;
  vertical-align: middle;
  &.active {
    margin-top: 41vh;
  }
}
.ChatRoom {
  height: 45vh;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 2s;
  position: relative;
}

.UserGameInfo {
  transition: all 2s;
  height: 100vh;
  background-color: pink;
}
.InfoToggle {
  transition: all 1.5s;
  outline: none;
  h5 {
    margin: 0 auto;
    writing-mode: vertical-lr;
  }
  &.active {
    margin-left: 83.33333333%;
  }
}
.FinancialState {
  margin: 0;
  list-style-type: none;
  padding: 0;
  li {
    padding: 2px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4 {
      margin: 0;
    }
  }
}
.IcomeExpense {
  background-color: rgba(255, 255, 255, 0.5);
}
.IncomeList,
.ExpenseList {
  height: 10vh;
  margin: 0;
  list-style-type: none;
  padding: 0;
  overflow-y: scroll;
  border-top: 1px solid;
  border-bottom: 1px solid;
  li {
    padding: 2px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      margin: 0;
    }
  }
}
.CardToggle {
  margin-top: 1vh;
  transition: all 1.5s;
  height: 6vh;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 15px 15px 0 0;
  &.active {
    margin-top: 79.5vh;
  }
  .NameBox {
    input {
      width: 60px;
    }
  }
}
.position-relative {
  position: relative;
}
.UserBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  transition: all 1.5s;
  border-radius: 5px;
  &.active {
    transition: all 1.5s;
    margin-left: -85%;
  }
  h3{
    color: rgba(255, 255, 255, 0.7);
    text-shadow: rgba(0, 0, 0, 0.7);
  }
}
.BoardLoading{
  color: white;
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-shadow: rgba(0, 0, 0, 0.7);

}
.TopUsersList {
  border-bottom: 5px solid  rgba(255, 255, 255, 0.7);;

  padding: 0 15px 15px 15px;
    li {
    display: flex;
    align-items: center;
    padding: 1px 10px;
    list-style: none;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: rgba(0, 0, 0, 0.7);
    span{
      margin-left: 10px;
    }
  }
}
.UserBoardToggle {
  height: 4vh;
  transition: all 1.5s;
  &.active {
    transition: all 1.5s;
  }
}
.YourBoard{
  padding: 0;
  list-style: none;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: rgba(0, 0, 0, 0.7);
}
