<div class="container-fluid MainView">

  <div class="row">
    <div class="col p-0">
      <div class="UserBoard col-6"></div>
      <button class="ChatRoomToggle  col-10" (click)="ToggleChatRoom()" [class.active]="!OpenChatRoom"><i
          class="fa-solid fa-comment-dollar"></i>
        聊天室 <i class="fa-solid fa-angle-down" *ngIf="OpenChatRoom"></i>
        <i class="fa-solid fa-angle-up" *ngIf="!OpenChatRoom"></i></button>
      <div class="ChatRoom col-10">
        <app-chatroom></app-chatroom>
      </div>
    </div>
    <div class="col p-0">
      <app-hamster-wheel></app-hamster-wheel>
      <div>
        <button class="CardToggle" [class.active]="!OpenCard" (click)="ToggleCard()"><i class="fa-solid fa-circle-exclamation"></i> 您的抉擇 <i class="fa-solid fa-angle-down" *ngIf="OpenCard"></i>
          <i class="fa-solid fa-angle-up" *ngIf="!OpenCard"></i></button>
        <app-card></app-card>
      </div>
    </div>
    <div class="col p-0">
      <div class="d-flex">
        <div class="col-5 p-0"></div>
        <button class="col-1 p-0 InfoToggle" (click)="ToggleInfo()" [class.active]="!OpenInfo"><i
            class="fa-solid fa-circle-info"></i>
          <h5 class="text-center py-2">您的財務狀況</h5><i class="fa-solid fa-angle-left" *ngIf="!OpenInfo"></i><i
            class="fa-solid fa-angle-right" *ngIf="OpenInfo"></i>
        </button>
        <div class="col-6 p-0 UserGameInfo">
          <h5 class="text-center mt-3">您好!</h5>
          <h2 class="UserName text-center mt-3">{{UserData.Name}}</h2>
          <ul class="FinancialState">
            <li>
              <h4>現金 :</h4><span>NT$ 777</span>
            </li>
            <li>
              <h4>月收入 :</h4><span>NT$ 777</span>
            </li>
            <li>
              <h4>月支出 :</h4><span>NT$ -777</span>
            </li>
            <li>
              <h4>月結餘 :</h4><span>0</span>
            </li>
          </ul>
          <div class="IcomeExpense mt-2">
            <h5 class="text-center py-2 m-0">收入項目</h5>
            <ul class="IncomeList">
              <li *ngFor="let item of UserFiInfo.CashFlowIncome">
                <p>{{item.Name}} :</p><span>{{item.Value}}</span>
              </li>
            </ul>
            <h5 class="text-center my-2">支出項目</h5>
            <ul class="ExpenseList">
              <li *ngFor="let item of UserFiInfo.CashFlowExpense">
                <p>{{item.Name}} :</p><span>{{item.Value}}</span>
              </li>
            </ul>
          </div>
          <div class="IcomeExpense mt-2">
            <h5 class="text-center py-2 m-0">資產項目</h5>
            <ul class="IncomeList">
              <li *ngFor="let item of UserFiInfo.Asset">
                <p>{{item.Name}} :</p><span>{{item.Value}}</span>
              </li>
            </ul>
            <h5 class="text-center my-2">負債項目</h5>
            <ul class="ExpenseList">
              <li *ngFor="let item of UserFiInfo.Liabilities">
                <p>{{item.Name}} :</p><span>{{item.Value}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
