.Card{
  width: 100%;
  background-color: antiquewhite;
  h3{
    margin: 0;
  }
  .CardBody{
    height: 50vh;
    background-color: antiquewhite;
  }
  .CardFooter{
    display: flex;
    justify-content: center;
  }
}
