<div class="ToastBox">
  <ngb-toast
  *ngFor="let toast of _ToastService.toasts"
  [class]="toast.className"
  [autohide]="true"
  [delay]="toast.delay || 5000"
  (hidden)="_ToastService.remove(toast)"
  class="ToastAnimate"
>
<ng-template ngbToastHeader>
  <div class="me-auto text-dark p-0">
    <i class="fa-solid fa-comment-dots"></i>
    <strong class="mx-1">{{toast.HeaderTxt}}</strong>
  </div>

</ng-template>
  <div [innerHTML]="toast.textOrTpl|safeHtml" class="ToastTxt"></div>
</ngb-toast>
</div>
