<!-- <div class="col-11 ChatBox"> -->
  <div>

    <!-- <h4>個人 ID: <span id="SelfID">
        {{SelfID}}
      </span></h4> -->
    <!-- <div class="mb-3">
      <label for="message" class="form-label">發送訊息</label>
      <input type="text" class="form-control" id="message" [(ngModel)]="this.FromClientChat.message" >
    </div> -->
    <!-- <div class="mb-3">
      <label for="sendToID" class="form-label">指定 ID</label>
      <input type="text" class="form-control" id="sendToID" [(ngModel)]="this.FromClientChat.sendToID">
    </div> -->

    <!-- <h3>聊天內容</h3> -->
    <div class="px-2" id="Content" [innerHTML]="Content|safeHtml">
    </div>
  </div>
  <div class="input-group px-2 TypeBox">
    <input type="text" class="form-control" id="message" [(ngModel)]="this.FromClientChat.message">
    <button class="btn btn-dark" type="button" id="sendButton" (click)="SendMsg()">送出訊息</button>
  </div>
  <!-- <button type="button" class="btn btn-primary" id="sendButton" (click)="SendMsg()">傳送訊息</button> -->
  <!-- <div class="col-4">
    <h4>連線 ID 列表</h4>
    <ul class="list-group" id="IDList" [innerHTML]="IDList|safeHtml">
      {{IDList}}
    </ul>
  </div> -->
<!-- </div> -->
