<div class="MainCotainer">
  <mat-toolbar color="primary" class="Header">
    <div class="BtnBox">
      <button mat-icon-button (click)="sideNav.toggle()">
        <mat-icon>{{ sideNav.opened ? 'playlist_remove' : 'menu' }}</mat-icon>
      </button>
      <span>Dashboard</span>
    </div>

    <div class="BrandBox">
      <h1>錢 董</h1>
    </div>
    <div class="UserBox">
      <mat-icon>face</mat-icon><span>Admin</span>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="SideNavContainer">
    <mat-sidenav #sideNav mode="side" class="SideNav" opened>

      <h3>後台管理</h3>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          用戶
        </mat-expansion-panel-header>
        <!-- 內容 -->
        <mat-nav-list class="list">
          <a [routerLink]="['/', 'dashboard', 'users']" mat-list-item mat-ripple>用戶資料管理</a>
          <a [routerLink]="['/', 'dashboard', 'user-boards']" mat-list-item>用戶積分版管理</a>
          <a [routerLink]="['/', 'dashboard', 'answer-questions']" mat-list-item>用戶問卷資料管理</a>
          <a [routerLink]="['/', 'dashboard', 'questions']" mat-list-item>問卷管理</a>
          <a [routerLink]="['/', 'dashboard', 'qustion-effects']" mat-list-item>問卷效果管理</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          現金流
        </mat-expansion-panel-header>
        <!-- 內容 -->
        <mat-nav-list class="list">
          <a [routerLink]="['/', 'dashboard', 'asset-categorys']" mat-list-item>資產類別管理</a>
          <a [routerLink]="['/', 'dashboard', 'assets']" mat-list-item>資產管理</a>
          <a [routerLink]="['/', 'dashboard', 'card-effects']" mat-list-item>卡片效果管理</a>
          <a [routerLink]="['/', 'dashboard', 'cards']" mat-list-item>卡片資料管理</a>
          <a [routerLink]="['/', 'dashboard', 'cash-flow-categorys']" mat-list-item>現金流類別管理</a>
          <a [routerLink]="['/', 'dashboard', 'cash-flows']" mat-list-item>現金流管理</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          管理
        </mat-expansion-panel-header>
        <!-- 內容 -->
        <mat-action-row><p>2022-0823</p></mat-action-row>
        <mat-nav-list class="list">
          <a [routerLink]="['/', 'dashboard', 'effect']" mat-list-item>影響資料表管理</a>
          <a [routerLink]="['/', 'dashboard', 'functions']" mat-list-item>功能管理</a>
          <a [routerLink]="['/', 'dashboard', 'role-functions']" mat-list-item>權限功能管理</a>
          <a [routerLink]="['/', 'dashboard', 'roles']" mat-list-item>權限角色管理</a>
          <a [routerLink]="['/', 'dashboard', 'logs']" mat-list-item>日誌管理</a>
        </mat-nav-list>
      </mat-expansion-panel>

    </mat-sidenav>

    <mat-sidenav-content class="content">

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
