<div class="MainCotainer">
  <mat-toolbar color="primary" class="Header">
    <div class="BtnBox">
      <button mat-icon-button (click)="sideNav.toggle()">
        <mat-icon>{{ sideNav.opened ? 'playlist_remove' : 'menu' }}</mat-icon>
      </button>
      <span>Dashboard</span>
    </div>

    <div class="BrandBox">
      <h1>錢 董</h1>
    </div>
    <div class="UserBox">
      <mat-icon>face</mat-icon><span>Admin</span>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="SideNavContainer">
    <mat-sidenav #sideNav mode="side" class="SideNav" opened>
      <mat-nav-list class="list">
        <h3>後台管理</h3>
        <a [routerLink]="['/', 'dashboard', 'users']" mat-list-item mat-ripple>用戶管理</a>
        <a [routerLink]="['/', 'dashboard', 'answer-questions']" mat-list-item>answer-questions</a>
        <a [routerLink]="['/', 'dashboard', 'asset-categorys']" mat-list-item>asset-categorys</a>
        <a [routerLink]="['/', 'dashboard', 'assets']" mat-list-item>assets</a>
        <a [routerLink]="['/', 'dashboard', 'card-effects']" mat-list-item>card-effects</a>
        <a [routerLink]="['/', 'dashboard', 'cards']" mat-list-item>cards</a>
        <a [routerLink]="['/', 'dashboard', 'cash-flow-categorys']" mat-list-item>cash-flow-categorys</a>
        <a [routerLink]="['/', 'dashboard', 'effect']" mat-list-item>effect</a>
        <a [routerLink]="['/', 'dashboard', 'functions']" mat-list-item>functions</a>
        <a [routerLink]="['/', 'dashboard', 'logs']" mat-list-item>logs</a>
        <a [routerLink]="['/', 'dashboard', 'questions']" mat-list-item>questions</a>
        <a [routerLink]="['/', 'dashboard', 'qustion-effects']" mat-list-item>qustion-effects</a>
        <a [routerLink]="['/', 'dashboard', 'role-functions']" mat-list-item>role-functions</a>
        <a [routerLink]="['/', 'dashboard', 'roles']" mat-list-item>roles</a>
        <a [routerLink]="['/', 'dashboard', 'user-boards']" mat-list-item>user-boards</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
