.UsersTable {
  margin: 30px 30px;
}

table {
  width: 100%;
}

.text-center {
  text-align: center;
}

.ml-5 {
  margin-left: .9375rem;
}

.TableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Dialog {
  width: 30rem;
}

.full-width {
  width: 100%;
}
