.Main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("https://w.wallhaven.cc/full/qd/wallhaven-qd6gdr.png");
  
}
.EnterSection{
  display: flex;
  align-items: center;
  justify-content: center;
}
.EnterCard{
  text-align: center;
}
h1{
  font-family: 'Noto Serif TC', serif;
  font-weight: 900;
}
