<nav> <a [routerLink]="['/login']" class="btn"><i
      class="fa-solid fa-person-walking-arrow-right text-light text-shadow"></i>
    <p class="m-0 text-light text-shadow">Sign In/Up</p>
  </a></nav>

<div class="container-fluid Main">
  <div class="container EnterSection">
    <h2>{{AnimatedText}} <span id="caret"> </span>
    </h2>
    <div class="EnterCard">
      <h1 class="text-light text-shadow">錢 董</h1>
      <p class="text-light">一款能幫助財商提升的遊戲</p>
      <div> <input type="text" placeholder="輸入名字" class="mt-5 form-control" />
      </div>
      <a class="btn btn-primary mt-5" [routerLink]="['/game']">開始遊戲</a>
    </div>
  </div>
</div>
