.loginCard {
  border-radius: 5px;
  width: 50%;
  height: 450px;
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition:all 1s;
  .loginBTN {
    width: 100px;
  }
}
.info {
  transition: all 1s;
  width: 50%;
  text-align: center;
}
.bar {
  justify-content: space-between;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  max-width: 70%;
  height: 250px;
  background: rgba(0, 0, 0, 0.7);
  transition: all 1s;
}
.bg {
  display: flex;
  align-items: center;
  background: url(https://source.unsplash.com/1600x900/?palace
  );
  height: 100vh;
  background-size: cover;
}
@media (max-width: 968px) {
  .bar {
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 580px;
    padding: 0px;
  }
  .info {
    margin-top: 50px;
    width: 100%;
  }
  .loginCard {
    width: 350px;
    height: 300px;
  }
}
